<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="Database" connectionString="Data Source=.\Orders.db;Version=3.12.2;" providerName="Syste.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version ="v5.0" sku=".NETFramework, Version=v5.0"/>
  </startup>
</configuration>