table{    
    width: 100%;    
}
.poza{
    text-align: right;
}
h1{
    color: black; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
}
.limbistr{
    border:solid 1px #f50808;
    border-collapse: collapse;    
}

.limbistr td {
    border:solid 1px #f50808;
    text-align: center;
}
.tableHead{
    color:black;
    font-size: 35px;
    font-weight: bolder;
    padding-left: 10px; 
    text-align: left;
}
.title{
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;   
    border-bottom: black solid 2px; 
}
body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: :0;
    margin:0;
    border-left:5px solid black;
    height: max-content;
    float : left;    
}
